$logo-indigo: #4E5986;
$logo-violet: #8969AC;
$logo-yellow: #FDD655;


$point-color-050: #EBE6FB;
$point-color-100: #CBC1F6;
$point-color-200: #B2A4EF;
$point-color-300: #A797F0;
$point-color-400: #816DEC;
$point-color-500: #5D4DE8;
$point-color-600: #3230DC;
$point-color-700: #1B2CD6;
$point-color-800: #0025CD;
$point-color-900: #0020C5;

$warning-red-050: #FFECEF;
$warning-red-100: #FFCED4;
$warning-red-200: #F99C9D;
$warning-red-300: #F37476;
$warning-red-400: #FF5252;
$warning-red-500: #FF3E36;
$warning-red-600: #F73536;
$warning-red-700: #E42930;
$warning-red-800: #D72028;
$warning-red-900: #C8111C;

$white-000: #FFFFFF;
$black-000: #101112;
$real-black: #000000;

$gray-050: #F8F9FA;
$gray-100: #F3F5F7;
$gray-200: #ECEEF0;
$gray-300: #E2E5E8;
$gray-400: #D4D8DC;
$gray-500: #B5B9BD;
$gray-600: #8E9398;
$gray-700: #505458;
$gray-800: #3A3D40;
$gray-900: #252729;

$white-000-a10: #ffffff1a;
$white-000-a30: #ffffff4d;
$white-000-a70: #ffffffb3;
$black-000-a10: #1011121a;
$gray-900-a05: #2527290d;
$gray-900-a30: #2527294d;
$gray-900-a70: #252729b3;
