$logo-indigo: #4E5986;
$logo-violet: #8969AC;
$logo-yellow: #FDD655;

$point-color050: #27233E;
$point-color100: #433A74;
$point-color200: #544895;
$point-color300: #6556B5;
$point-color400: #816DEC;
$point-color500: #9380E8;
$point-color600: #A797F0;
$point-color700: #B2A4EF;
$point-color800: #CBC1F6;
$point-color900: #EBE6FB;

$warning-red050: #401E1F;
$warning-red100: #5F2627;
$warning-red200: #A93B3B;
$warning-red300: #C74445;
$warning-red400: #FF5252;
$warning-red500: #FF5E5E;
$warning-red600: #F37476;
$warning-red700: #F99C9D;
$warning-red800: #FFCED4;
$warning-red900: #FFECEF;

$gray-050: #1A1B1C;
$gray-100: #1D1E1F;
$gray-200: #202122;
$gray-300: #2A2B2C;
$gray-400: #373839;
$gray-500: #5D5E5F;
$gray-600: #848586;
$gray-700: #BEBFC0;
$gray-800: #E1E2E3;
$gray-900: #F8F9FA;

$white-000: #FFFFFF;
$black-000: #101112;
$real-black: #000000;

$white-000-a05: #ffffff0d;
$white-000-a10: #ffffff1a;
$white-000-a30: #ffffff4d;
$white-000-a70: #ffffffb3;
$black-000-a05: #1011120d;
$black-000-a10: #1011121a;
$black-000-a30: #1011124d;
$black-000-a70: #101112b3;







