@import '../palette/dark.scss';

$bg-normal: $black-000;
$bg-elevated: $black-000;
$bg-recomment: $real-black;
$bg-pressed: $white-000-a05;
$bg-selected: $white-000-a05;
$bg-normal-dark: $real-black;
$bg-elevated-dark: $real-black;
$bg-dim-dark: $black-000-a30;

$text-primary: $gray-900;
$text-secondary: $gray-800;
$text-tertiary: $gray-600;
$text-disabled: $gray-400;
$text-bright: $white-000;
$text-pointed: $point-color-400;
$text-warned: $warning-red-400;

$dim-normal: $black-000-a30;
$dim-thick: $black-000-a70;
$dim-thick-bright: $white-000-a70;

$border-thin: $gray-100;
$border-normal: $white-000-a10;
$border-thick: $gray-500;

$button-normal: $gray-700;
$button-normal-pressed: $gray-600;
$button-bg: $gray-200;
$button-emoji-bg: $gray-100;
$button-bright: $white-000;
$button-disabled: $gray-500;
$button-disabled-bg: $gray-200;
$button-point: $point-color-400;
$button-point-pressed: $point-color-300;
$button-point-bg: $point-color-050;
$button-warned: $warning-red-400;
$button-warned-pressed: $warning-red-300;
$button-warned-bg: $warning-red-050;

$bottom-bar-normal: $gray-600;
$bottom-bar-selected: $gray-800;
$input-field-normal: $black-000;
$toast-bg: $gray-100;
$input-field-elevated: $gray-300;
$tooltip-bg: $gray-400;
$tooltip-point: $point-color-400;
$dim-picker-reverse: $white-000-a70;
$pressed: $white-000-a10;










